*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.container{
    width: 100%;
    height: 400vh;
    background-color: #000;
    background-position: center;
    background-size: cover;
    padding-left: 8%;
    padding-right: 8%;
    box-sizing: border-box;
    margin-top: -180px;
}

.navbar{
    height: 20%;
    display: flex;
    align-items: center;
}
.logo{
    width: 50px;
    cursor: pointer;
    display: inline-block;
    

}
.menu-icon{
    width: 30px;
    cursor: pointer;
    margin-left: 40px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-left: 200px
}
nav ul li a{
    text-decoration: none;
    color: #fff;
    font-size: 13px;
}
.row{
    display: flex;
    height: 88%;
    align-items: center;
}
.col{
    flex-basis: 0%;
}
h1{
    color: #fff;
    font-size: 100px;
}
p{
    color: #fff;
    font-size: 11px;
    line-height: 15px;
}
button{
    width: 180px;
    color: #000;
    font-size: 12px;
    padding: 12px 0;
    background: #fff;
    border: 0;
    border-radius: 20px;
    outline: none;
    margin-top: 50px;
}

.box{
    width: 750px;
    height: 450px;
    display: inline-block;
    border-radius: 20px;
    padding: 10px 15px;
    box-sizing: border-box;
    cursor: pointer;
    margin: 10px 15px;
    background-position: center;
    background-size: cover;
    margin-left: 900px;
    transition: transform 0.5s;
    margin-top: -300px;

  
    
}
.box2 {
    color: #000;
}
.margin{
    margin-left: 910px;
    color: #fff;
}


.box25 button{
    
    width: 1580px;
    height: 950px;
    background-color: grey;
    color: #fff;
    
     }
     .box29{
       width: 1903px;
       height: 500px;
       background-color: rgb(40, 40, 40);
       margin-left: -152px;
        }
        .bol{
           color:#fff;
        }
   .box30{
       margin-left: -1500px;
   }
   .qwert{
       display: inline-block;
       margin-left: 250px;
       list-style: none;
       margin-top: 20px;
   }
.bon{
    width: 750px;
    height: 450px;
    border-radius: 20px;
    margin: -10px;  
}

.cont{
    width: 90%;
    padding: 20px;
    margin: 100px auto;	 
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.bo{
    width: 250px;
    margin: 0 10px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, .1);
    transition: 1s;

}
.bo img{
    display: block;
    width:100%;
    border-radius: 5px;
}
.bo:hover{
    transform: scale(1.3);
    z-index: 2;
}
.nma{
    color: #000;
    margin-left: 650px;
}





*{
    margin:0;
    padding:0;
    font-family:'Raleway',sans-serif;
  }
  body{
    height:100%;
    width:100%;
    background:#444;
  }
  .main{
    position:relative;
    height:100vh;
    width:100%;
    color:#fff;
  }
  .main .slider{
    position:relative;
    height:100vh;
    width:100%;
  }
  .main .slider .slides{
    position:absolute;
    height:100%;
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    overflow:hidden;
    opacity:0;
    transition:0.3s ease-in-out;
  }
  .main .slider .slides.current{
    z-index:1;
    opacity:1;
  } 
  .main .slider .slides:nth-child(1){
    background:linear-gradient(rgba(0, 0, 0, 0.35),rgba(0, 0, 0, 0.35)),url('./9.jpg');
    background-size:cover;
    background-attachment:fixed;
    background-position:center;
    background-repeat:no-repeat;
  }
  .main .slider .slides:nth-child(2){
    background:linear-gradient(rgba(0, 0, 0, 0.35),rgba(0, 0, 0, 0.35)),url('./8.jpg');
    background-size:cover;
    background-attachment:fixed;
    background-position:center;
    background-repeat:no-repeat;
  }
  .main .slider .slides:nth-child(3){
    background:linear-gradient(rgba(0, 0, 0, 0.35),rgba(0, 0, 0, 0.35)),url('./7.jpg');
    background-size:cover;
    background-attachment:fixed;
    background-position:center;
    background-repeat:no-repeat;
  }
  .main .slider .slides:nth-child(4){
    background:linear-gradient(rgba(0, 0, 0, 0.35),rgba(0, 0, 0, 0.35)),url('./6.jpg');
    background-size:cover;
    background-attachment:fixed;
    background-position:center;
    background-repeat:no-repeat;
  }
  .main .slider .slides:nth-child(5){
    background:linear-gradient(rgba(0, 0, 0, 0.35),rgba(0, 0, 0, 0.35)),url('./5.jpg');
    background-size:cover;
    background-attachment:fixed;
    background-position:center;
    background-repeat:no-repeat;
  }
  .main .slider .slides h1{
    font-size:3em;
    font-weight:600;
    text-shadow:0px 0.5px 12px rgba(0, 0, 0, 0.9);
    margin-left:-500%;
    transition:0.3s linear;
  }
  .main .slider .slides.current h1{
    animation:animateHeading 0.3s linear forwards 1;
    animation-delay:0.2s;
  }
  @keyframes animateHeading{
    to{
      margin-left:0;
    }
  }
  .main .slider .slides p{
    text-shadow:0px 0.5px 5px rgba(0, 0, 0, 0.5);
    margin-right:-500%;
    transition:0.3s linear;
  }
  .main .slider .slides.current p{
    animation:animateparagraph 0.3s linear forwards 1;
    animation-delay:0.2s;
  }
  @keyframes animateparagraph{
    to{
      margin-right:0;
    }
  }
  .main .prev{
    position:fixed;
    color:#fff;
    top:50%;
    left:5%;
    transform:translateY(-50%);
    z-index:99;
    font-size:1.5em;
    font-weight:600;
    border:2px solid #fff;
    padding:10px 17px;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:50%;
    transition:0.2s ease-in-out;
    cursor:pointer;
    box-shadow:0px 2px 15px rgba(0, 0, 0, 0.9);
  }
  .main .next{
    position:fixed;
    color:#fff;
    top:50%;
    right:5%;
    transform:translateY(-50%);
    z-index:99;
    font-size:1.5em;
    font-weight:600;
    border:2px solid #fff;
    padding:10px 17px;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:100%;
    transition:0.2s ease-in-out;
    cursor:pointer;
    box-shadow:0px 2px 5px rgba(0, 0, 0, 0.5);
  }
  .main .prev:hover,
  .main .next:hover{
    background:#16a085;
    border-color:#16a085;
  }
  .main a{
    position:fixed;
    color:#fff;
    bottom:15%;
    left:50%;
    transform:translateX(-50%);
    z-index:99;
    font-size:1em;
    font-weight:500;
    border:1px solid #16a;
    padding:10px 17px;
    line-height:1.2em;
    display:flex;
    align-items:center;
    justify-content:center;
    border-radius:2px;
    transition:0.2s ease-in-out;
    cursor:pointer;
    text-decoration:none;
    background:#16a;
    box-shadow:0px 2px 5px rgba(0, 0, 0, 0.5);
  }
  .main a:hover{
    background:#017fb5;
  }
  

  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

h1{
    color: #fff;
    font-size: 55px;
    margin: 80px 0;
}
.swiper {
    width: 80%;
    height: 100%;
  }

  .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 250px;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    -webkit-box-reflect: below 1px linear-gradient(transparent, transparent , #0002 , #0004);
  }
  .box29{
    width: 1903px;
    height: 500px;
    background-color: rgb(77, 77, 77);
    margin-left: -152px;
    margin-top: -3000px;
     }
     .qwert{
      display: inline-block;
      margin-left: 250px;
      list-style: none;
      margin-top: 20px; 
      color: white;
   }
   .love{
   width: 1500px;
   height: 1000px;
   margin-left: 50px;
   }
   .man{
    margin-top: 10px;
    margin-left: 50px;
   }